@charset "utf-8";
/* p07-1 */

body {
  color: #5B362C;
  text-align: center;
}

h1, p {
  display: block;
  margin: 10px;
  line-height: 1.7;
}

h1 {
  color: #C92629;
  padding-top: 20px;
  margin-top: 20px;
}

.back-edge {
  max-width: 750px;
  background: linear-gradient(45deg, #9F863F, #A6AAAD);
  margin: 0 auto;
  padding: 10px 0 10px;
}

.back-inner {
  max-width: 700px;
  background-color: #fbf6e8;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 500px;
  min-height: 100px;
  width: 100%;
  object-fit: cover;
  margin: 10px auto;  
}

button {
  width: 120px;
  background-color: #14793A;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  margin: 5px 5px;
}

.box-button {
  display: flex;
  justify-content: center;
}

#explanation {
  max-width: 600px;
  line-height: 1.7;
  margin: 10px auto;
  padding-bottom: 30px;
}

#explanation strong {
  font-size: 1.2em;
}

#quotation {
  color: #fff;
  font-size: 0.9em; 
}

a {color: #fff}
a:hover {color: #14793A;}

/* p07-1 */